# ZeroDev Project ID (Required for real AA wallet creation)
NEXT_PUBLIC_ZERODEV_PROJECT_ID=

# WebAuthn Configuration (Defaults for localhost)
NEXT_PUBLIC_RP_ID=localhost
NEXT_PUBLIC_RP_NAME="Web3 Word Chain"
NEXT_PUBLIC_RP_ORIGIN=http://localhost:3000
